.projects {
    height: auto;
    position: relative;
    overflow: hidden;
}


.projects__nav {
    height: 30vh;
    box-shadow: 1px 1px 10px black;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projects__nav-list {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    height: 100%;
    padding: 2% 1%;
}

.projects__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}


@media (min-width:1024px) {
    .projects__nav {
        height: 15vh;
    }
}