
.divideonscroll {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    background: transparent;
}

.divideonscroll__wrapper {
position: relative;
width: 98%;
height: 100%;


}

.divideonscroll__video-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.divideonscroll__video-wrapper1 {
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%);
            clip-path: polygon(0 0, 0 100%, 100% 100%);
}
.divideonscroll__video-wrapper2 {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%);
}

.divideonscroll__video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}



.divideonscroll__text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 5%;
    opacity: 0;
    transform: translateY(200px);
    background-color: rgb(229, 229, 229);
    transition: transform .1s ease-in-out, opacity .2s;
}

.divideonscroll__text-content--active {
    transform: translateY(0);
    opacity: 1;
    transition: transform .2s ease-in-out, opacity 1s;
}

.divideonscroll__heading {
    font-size: 2em;
    padding: 0 5%;
    margin-bottom: 10%;
    text-align: center;
    text-shadow: 2px 1px 0px #000;
    letter-spacing: 2px;
    color: var(--heading-color);
    border-bottom: 1px solid black;
}

.divideonscroll__text {
    font-size: 1em;
    text-align: justify;
    color: var(--heading-color);
}


@media (min-width:1024px) {
    .divideonscroll__heading {
        font-size: 3em;
        padding: 0 10%;
    }
    
    .divideonscroll__text {
        font-size: 1.5em;
        padding: 0 10%;
    }
}