.sidebar__list-item {
    margin-bottom: 2.5rem;
    width: 100%;
}

.sidebar__list-item-link {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem .55rem;
    text-decoration: none;
    overflow: hidden;
}

.sidebar__list-item-link::before {
    content: '';
    position: absolute;
    top: -110%;
    left: 0;
    background-color: var(--accent-color);
    height: 100%;
    width: 6px;
}

.sidebar__list-item-link.active::before {
    top: 0;
    transition: .15s;
}

.sidebar__list-item-link.active {
    color: var(--accent-color);
    /* background-color: lightgrey; */
}

.sidebar__list-item-link.active .sidebar__list-item-icon {
    color: var(--accent-color);
}


.sidebar__list-item-link:hover {
    background-color: var(--heading-color);
}

.sidebar__list-item-icon {
    font-size: 25px;
    color: #fff;
    margin-left: 1vw;

}

.sidebar__list-item-desc {
    display: block;
    margin-left: 2rem;
    color: #fff;
    transform: translateX(-300px);
}

.sidebar.open .sidebar__list-item-desc {
    transform: translateX(0);
    transition: var(--sidebar-animation-timing-curve);
}

.sidebar.open .sidebar__list-item:nth-child(1) .sidebar__list-item-desc {
    transition: calc(var(--sidebar-animation-duration)+.2s);
}

.sidebar.open .sidebar__list-item:nth-child(2) .sidebar__list-item-desc {
    transition: calc(var(--sidebar-animation-duration)+.3s);
}

.sidebar.open .sidebar__list-item:nth-child(3) .sidebar__list-item-desc {
    transition: calc(var(--sidebar-animation-duration)+.4s);

}

.sidebar.open .sidebar__list-item {
    display: flex;
}

.sidebar.open .sidebar__list-item-link {
    padding-left: 1rem;
}