.footer {
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: var(--bg-color);
    padding: 5% 0;
}


.footer__contact-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-basis: 55%;
    height: 100%;
}


.footer__socialmedia-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}