.sidebar {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    top: var(--header-height);
    flex-basis: 16vw;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--header-height));
    /* margin-top: calc(var(--header-margin-bottom) * -1); */
    padding-top: 1rem;
    background: var(--main-color);
    overflow: hidden;
    transition: flex-basis var(--sidebar-animation-duration) var(--sidebar-animation-timing-curve);
    z-index: 100;
}

.sidebar.open {
    flex-basis: 50vw;
}

@media(min-width:1024px) {
    .sidebar {
        flex-basis: 5vw;
    }

    .sidebar.open {
        flex-basis: 15vw;
    }
}