.parallax {
    position: relative;
height: 100vh;

/* -webkit-animation: animateInfiniteColor 8s linear infinite;
animation: animateInfiniteColor 8s linear infinite; */
}

.parallax-slogan {
    /* position: relative; */
    width: 100%;
    height: 100%;
    background: var(--main-color);
    /* background:#042104; */
    overflow: hidden;
}


.parallax-slogan__text-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    /* background:#042104; */
    -webkit-clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
}

.parallax-slogan__layer {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 3em;
    line-height: 2.5em;
    color: var(--accent-color);
    cursor: pointer;
}

.parallax-slogan__layer1 {
    opacity: .5;
}

.parallax-slogan__skew1 {
    /* position: relative; */
    top: 50px;
    transform: skewY(20deg);
}

.parallax-slogan__skew2 {
    /* position: relative; */
    top: 50px;
    transform: skewY(340deg);
}

@media (orientation:landscape) {
    .parallax-slogan {
        position: relative;
        width: 100%;
        /* height: 100vh; */
    }

    .parallax-slogan__layer {
        font-size: 4em;
        line-height: 1.5em;
    }
}

@media (min-width:1024px) {
    .parallax-slogan__layer {
        font-size: 12em;
        line-height: 1em;
    }
}