.projects__nav-item {
    text-align: center;
    list-style: none;
    margin: 0 15px;
}


.projects__nav-link {
    color: #333;
    background-color: #fff;
    letter-spacing: 1px;
    font-size: .7em;
    padding: 2px 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-weight: 700; */
    border: 1px solid black;
    cursor: pointer;
    transition: .5s;
}

.projects__nav-i {
    height: 15px;
    width: 15px;
    margin-right: 10px;
    pointer-events: none;
}

.projects__nav-item:hover .projects__nav-link {
    color: #fff;
    text-shadow: 1px 1px 0px #000;
    background-color: var(--accent-color);
}

.projects__nav-link::before {
    content: '';
    position: absolute;
    top: 0;
    /* left: 0; */
    transform: translate(-50%, 0%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    z-index: -1;
    opacity: 0;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 500px;
    transition: letter-spacing .5s, left .5s;
    text-shadow: none;
}

.projects__nav-link:hover:before {
    content: attr(data-text);
    position: absolute;
    top: 6%;
    opacity: 1;
    letter-spacing: 10px;
    left: 50%;
    height: 30vh;
    color: rgba(0, 0, 0, .3);
}


@media (orientation:landscape) {

}

@media (min-width:1024px) {
    .projects__nav-link {
        font-size: 1.1em;
     font-weight: 700; 
    }
    .projects__nav-i {
        height: 30px;
        width: 30px;
    }
}