:root {
    --main-color: gray;
    --accent-color: rgb(204, 0, 0);
    --header-height: 50px;
    --header-margin-bottom: 1rem;
}

body {
    margin: 0;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    height: 100vh;
}

/* section:nth-child(1) {
    background: blue;
} */

section:nth-child(2) {
    background: orange;
}

section:nth-child(3) {
    background: olivedrab;
}

.ddd {
    font-size: 100px;
    color: brown;
}