:root {
    --main-color: #292828;
    --bg-color: rgb(29, 27, 27);
    --accent-color: #45f3ff;
    --header-height: 50px;
    --header-margin-bottom: 1rem;
    --sidebar-animation-duration: 150ms;
    --sidebar-animation-timing-curve: ease-in-out;
}

body {
    margin: 0;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}